/*Tools*/
html, body {
	padding:0px;
	margin:0px;
}

.clearfix{
	clear:both;
	overflow-x: hidden;
	overflow-y: auto;
}


/*Reusable Properties*/
.float_left{
	float: left;
}

.float_right{
	float: right;
}

.text_shadow{
	text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}

.playfair_font{
	font-family: "Playfair Display";
	font-weight: lighter;
}

.raleway_font{
	font-family: "Raleway";
}

.italic{
	
	font-style: italic;
	text-align: center;
}

.bold{
	font-weight: bold;
}

.no_bold{
	font-weight: normal;
}

.white_font{
	color: white;
}

.grey_font{
	color: #969696;
}

.radius{
	border-radius: 50px;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.section_title{
	font-size: 2.4rem;
}

.container{
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.fontstyle_clear{
 	font-style: normal;
}

a:link{
	color: white;
}

a:hover{
	color: #E2574C;
}


/*Header & Navigation*/
.logo{
	width: 10%;
}

.aloha{
	max-width: 100%;
	padding-left: 10%;
}

.navigation{
	float: right;	
}


/*Banner Section*/
.intro_img {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.247059) 0%,
		rgba(0, 0, 0, 0.247059) 100%),
		url(../images/banner-girl.png),
		url(../images/flower-bkgd.jpg);
	background-repeat: repeat-x, no-repeat;
	background-size: cover, contain;
	background-position: center top, 50% 100px;
	top: 65px;
	height: 600px;
	width: 100%;
	max-height: 975px;
   	overflow: hidden;
}

.intro_content{
	position: relative;
	text-align: center;
	padding-top: 25%;
}

.new_collection3{
	position: relative;
	text-align: center;
	font-size: 1.25rem;
}

.new_collection1{
	position: relative;
	text-align: center;
	font-size: 4rem;
	line-height: 20%;
}


/*Description Section*/
.intro_paragraph {
	font-size: 1.15rem;
	font-family: "Raleway";
	text-align: center;
	padding-bottom: 30px
}


/*Products Section*/
.intro_title{
	padding-top: 70px;
}

.product_div{
	float: left;
	text-align: center;
	width: 25%;
}

.product_category{
	text-transform: uppercase;
}

.product_name{
	color: #E2574C;
	font-size: 1.5em;
	margin: none;
}


/*Subscribe Section*/
.subscribe_img{
	background-image: url(../images/wave-bkgd.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0;
}

.update_info{
	text-align: center;
	font-size: 1.15rem;
}


.intro_title{
	padding-top: 70px;
}

.form{
	background-color: white;
	border-radius: 50px;
	border-style: none;
	width: 300px;
	border: 3px;
	border-style: solid;
	border-color: white;
	margin: 30px, 0, 30px, 0;
}

.text_input{
	width: 175px;
	font-size: 16px;
	padding: 10px;
	border: none;
}

 .submit_btn{
 	border-radius: 50px;
 	background-color: #E2574C;
 	font-size: 16px;
 	padding: 10px;
 	border: none;
 }


/*Footer Section*/
.footer_info{
	background-color: #242424;
	font-family: "Playfair Display", serif;
	width: 100%;
}

.footer_padding{
	padding-left: 120px;
}


/*Social Media*/
.social_media{
	padding: 30px 120px 30px 0;
}

a.social_link {
	text-decoration: none;
}







a:link{
	color: white;
}

a:hover{
	color: #E2574C;
}



/* Responsive */

/*Mobile*/
@media only screen and (max-width: 599px) {

	.product_div{
	width: 100% !important;
	}
}







